.bg-aqua {
    background-color: rgb(47, 211, 156);
} 

.aqua {
    color: rgb(47, 211, 156);
}

.blue {
    background-color: rgb(37, 77, 110);
}

.progress {
    width: 120px;
    height: 4px;
}

.text-center.about p {
    font-size: 20px;
}

a {
    line-height: 35px;
    width: 35px;
    height: 35px;
}

footer {
    background-color: rgb(8, 31, 49);
    font-size: 12px;
}
