.bg-aqua {
    background-color: rgb(54, 167, 129);
} 

.aqua {
    color: rgb(47, 211, 156);
}

.bg-blue {
    background-color: rgb(37, 77, 110);
}

.bg-dark-blue {
    background-color: rgb(8, 31, 49);
}

.collapse ul {
    font-size: 12px;
}

.progress {
    width: 20%;
    max-width: 120px;
    height: 4px;
}

.about a {
    line-height: 35px;
    width: 35px;
    height: 35px;
}

footer {
    font-size: 12px;
}
